-@notifications.each do |notification|
	
	%li
		-if (notification.notification_type == 1)
			=link_to notification.user.firstName, user_path(notification.user_id)
			=link_to "has booked your lift", offer_path(notification.offer_id)
			

		-if (notification.notification_type == 2)
			=link_to notification.user.firstName, user_path(notification.user_id)
			=link_to "has cancelled your lift", offer_path(notification.offer_id)

		-if (notification.notification_type == 3)
			%a New message from...
			/ =link_to notification.sender_id, user_chats_path(current_user, :other_user => notification.sender_id)
					
