.container.contents
	.row
		.col-md-8
			.col-md-4.avatar
				=image_tag @user.avatar.url.to_s
			.col-sm-8	
				%h3
					=@user.firstName
					=@user.lastName
				%p
					-if @user.bio
						%h5= @user.bio
					-elsif @user == current_user
						=link_to "Add a bio to your profile", edit_user_registration_path			
				%p
					Member since
					=@user.created_at.strftime("%B %Y")
				-if @user == current_user
					%p
						=link_to "Change your profile photo", edit_user_registration_path		
		.col-md-4
			-if @user == current_user
				=link_to "Messages", user_chats_path(:user_id => @user.id), class: "btn btn-primary pull-right messages"				
					
				
	.row
		.col-md-8
			.col-md-4.text-center		
				/ display edit button only when the account belongs to the signed in user
				-if @user == current_user
					=link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary"
				-else
					= link_to(user_chats_path(current_user, :other_user => @user.id), method: :post) do
						%button.btn.btn-primary{:type => "button"} Private Message

	.row.margintop20
		.col-md-3
			.panel
				%h4 Car Information
				-if @user.make
					%p
						=@user.firstName
						drives a
						=@user.year.strftime("%Y")	 
						=@user.make
						=@user.model
				-elsif @user == current_user
					%p 
						=link_to "Add information about your car", edit_user_registration_path
				-else
					%p
						=@user.firstName
						has not provied information about their car yet.
			.row
				.col-md-12
					.panel
						%h4 Recent Lift Offers
						- @offers.each do |offer|
							.row
								.col-md-12
									%h4
										=link_to offer.pickup, offer
										to
										=link_to offer.dropoff, offer

				-if @bookedLifts.count != 0							
					.row
						.col-md-12
							.panel								
								-if @user == current_user
									.col-md-12
										.panel
											%h4 Write a review for your drivers
											- @bookedLifts.each do |bookedLift|
												.row
													.col-md-12
														%h4
															=link_to bookedLift.user.firstName, new_offer_review_path(bookedLift.id)
															who drove to 
															=bookedLift.dropoff

		-if @ratingRounded 
			.col-md-9
				.panel
					%h3 
						Reviews
						- @ratingRounded.to_i.times do
							%span.glyphicon.glyphicon-star#filled
						/ If rating is .5 display half filled star	
						-if @ratingRounded % 1 != 0
							%span.glyphicon.glyphicon-star#halfStar

						- @blankStars.to_i.times do
							%span.glyphicon.glyphicon-star
						(
						=@totalReviews
						reviews
						)
					.panel	
						%h4 Summary
						%ul.list-inline
							%li.list-inline-item
								Communication 
								- @communicationRounded.to_i.times do
									%span.glyphicon.glyphicon-star#filled
								-if @communicationRounded % 1 != 0
									%span.glyphicon.glyphicon-star#halfStar	
								- @user.blank_stars(@communicationRounded).to_i.times do
									%span.glyphicon.glyphicon-star

							%li.list-inline-item
								Comfort
								- @comfortRounded.to_i.times do
									%span.glyphicon.glyphicon-star#filled
								-if @comfortRounded % 1 != 0
									%span.glyphicon.glyphicon-star#halfStar	
								- @user.blank_stars(@comfortRounded).to_i.times do
									%span.glyphicon.glyphicon-star
							
							%li.list-inline-item
								Punctual
								- @punctualRounded.to_i.times do
									%span.glyphicon.glyphicon-star#filled
								-if @punctualRounded % 1 != 0
									%span.glyphicon.glyphicon-star#halfStar		
								- @user.blank_stars(@punctualRounded).to_i.times do
									%span.glyphicon.glyphicon-star 
							
							%li.list-inline-item
								Driving
								- @drivingRounded.to_i.times do
									%span.glyphicon.glyphicon-star#filled
								-if @drivingRounded % 1 != 0
									%span.glyphicon.glyphicon-star#halfStar		
								- @user.blank_stars(@drivingRounded).to_i.times do
									%span.glyphicon.glyphicon-star
							
					- @reviews.each do |review|
						.panel
							.row
								.col-md-2.resultsAvatar
									=image_tag review.user.avatar.url.to_s
									.row
										.col-md-12.text-center
											=link_to review.user.firstName, user_path(review.user.id)
								.col-md-8
									%p=review.description
									%p=review.created_at.strftime("%B %Y")			