.row
	.col-md-8
		.col-sm-3.avatar
			=image_tag @user.avatar.url.to_s
		.col-sm-3	
			%h3
				=@user.firstName
				=@user.lastName
			%p
				Member since:
				=@user.created_at.strftime("%d-%m-%Y")
			-if @user.id == current_user.id
				%p
					=link_to "Change your profile photo", edit_user_registration_path		
			
					
	.col-md-4.pull-right
		/ display edit button only when the account belongs to the signed in user
		-if @user.id == current_user.id
			=link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary pull-right"
		-else	
			%button.btn.btn-primary.pull-right{:type => "button"} Private Message				
.row
	.col-md-6	
		-if @user.bio
			%h5= @user.bio
		-elsif @user.id == current_user.id
			=link_to "Add a bio to your profile", edit_user_registration_path		
.row
	.col-lg-4
		.panel.panel-primary.blue
			.panel-Heading
				.row
					.col-xs-3
						%span.glyphicon.glyphicon-user
					.col-xs-9.text-right
						%h1= @totalOffers
						-if @totalOffers > 1
							Rides Offered!
						-else	
							Ride Offered!
			.panel-footer.blue
				=link_to "Offer a Lift", new_offer_path	
	.col-lg-4
		.panel.panel-primary.green
			.panel-Heading
				.row
					.col-xs-3
						%span.glyphicon.glyphicon-user
					.col-xs-9.text-right
						%h1=2
						Rides Requested!
			.panel-footer.green
				=link_to "Search for a Lift", new_offer_path	
	.col-lg-4
		.panel.panel-primary.red
			.panel-Heading
				.row
					.col-xs-3
						%span.glyphicon.glyphicon-user
					.col-xs-9.text-right
						%h1= @totalMiles
						Miles shared!
			.panel-footer.red
				Total distance travelled as a Driver or passenger

.row
	.col-lg-8
		.panel.panel-primary.info
			%h4 Car Information
			-if @user.make
				%p
					=@user.firstName
					drives a
					=@user.year.strftime("%Y")	 
					=@user.make
					=@user.model
			-elsif @user.id == current_user.id
				%p 
					=link_to "Add information about your car", edit_user_registration_path
			-else
				%p This user has not provied this information yet.				
.row
	.col-lg-8
		.panel.panel-primary.info
			%h4 Recent Lift Offers
			- @offers.each do |offer|
				.row
					.col-md-12
						%h4
							=link_to offer.pickup, offer
							to
							=link_to offer.dropoff, offer
							on
							=offer.date.strftime("%d-%m-%Y at %H:%M")
.row
	.col-lg-8
		.panel.panel-primary.info
			%h4 Your upcoming offers that have passengers
			- @bookedOffers.each do |bookedOffer|
				.row
					.col-md-12
						%h4
							=link_to bookedOffer.pickup, bookedOffer
							to
							=link_to bookedOffer.dropoff, bookedOffer
							on
							=bookedOffer.date.strftime("%d-%m-%Y at %H:%M")
						%h5
							=link_to "This passenger booked your lift", user_path(bookedOffer.passenger_id)
.row
	.col-lg-8
		.panel.panel-primary.info
			%h4 Your booked lifts
			- @bookedLifts.each do |bookedLift|
				.row
					.col-md-12
						%h4
							=link_to bookedLift.pickup, bookedLift
							to
							=link_to bookedLift.dropoff, bookedLift
							on
							=bookedLift.date.strftime("%d-%m-%Y at %H:%M")
						%h5
							You booked a lift with
							=link_to bookedLift.user.firstName, user_path(bookedLift.user.id)																

			
						






















