%div
  %h5
    Chat with #{@other_user.email}
  - if @chat.messages.any?
    #messages
      = render partial: 'messages/message', collection: @chat.messages.order(id: :asc)
  - else
    #messages
= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}
:javascript
  createMessageChannel();
  // app/assets/javascripts/channels/messages.js 
  messageForm();
  // app/assets/javascripts/messages_form.js