/modal for sign in and sign up
=render 'devise/sessions/modalNew'
=render 'devise/registrations/modalNew'

%header.masthead.text-white.text-center
	.overlay
	.container
		.row
			.col-lg-12.mx-auto#homeHeader
				%h1.text-uppercase.black
					%strong Let's travel together
				%hr	
		.row		
			.col-lg-12.mx-auto.headerBtns
				#offerRequest
				.col-lg-6
					%a.btn.btn-primary.btn-xl.js-scroll-trigger.pull-right{:href => "#search"} Find Lift
				.col-lg-6
					-if user_signed_in?
						%a.btn.btn-primary.btn-xl.pull-left{:href => "/offers/new"} Offer Lift
					-else
						/ if user is not signed in scroll to bottom of index which leads to user to signin or sign up	
						%a.btn.btn-primary.btn-xl.pull-left{:href => "#offer"} Offer Lift

%section#about
	.container
		.row
			.col-lg-12.text-center
				%h2.section-heading How Ride Share works
				%hr.my-4/
	.container
		.row
			.col-lg-3.col-md-6.text-center
				.service-box.mt-5.mx-auto
					%i.fa.fa-4x.fa-user.text-primary.mb-3.sr-icons
					%h3.mb-3 1. Join
					%p.text-muted.mb-0 Its free and quick to do.
			.col-lg-3.col-md-6.text-center
				.service-box.mt-5.mx-auto
					%i.fa.fa-4x.fa-map-marker.text-primary.mb-3.sr-icons
					%h3.mb-3 2. Search for a lift
					%p.text-muted.mb-0 Lorem ipsum dolor amet tote bag 90's.
			.col-lg-3.col-md-6.text-center
				.service-box.mt-5.mx-auto
					%i.fa.fa-4x.fa-road.text-primary.mb-3.sr-icons
					%h3.mb-3 3. Select a driver
					%p.text-muted.mb-0 Lorem ipsum dolor amet tote bag 90's.
			.col-lg-3.col-md-6.text-center
				.service-box.mt-5.mx-auto
					%i.fa.fa-4x.fa-gbp.text-primary.mb-3.sr-icons
					%h3.mb-3 4. Save money
					%p.text-muted.mb-0 Lorem ipsum dolor amet tote bag 90's.

%section#search.p-0
	.row
		.col-lg-12.text-center
			%h2.section-heading Search for Available Lifts
			%hr.my-4/
	.row
		#searchHome
			#searchInput.col-lg-3.text-center
				= search_form_for @search, url: search_path do |f|
					.form-row
						.form-group.searchInputs.pull-right
							=f.text_field :pickup_cont, class: "form-control form-control-lg", id: "origin-input", placeholder: 'Enter pickup location'

						.form-group.searchInputs.pull-right
							=f.text_field :dropoff_cont, class: "form-control form-control-lg", id: "destination-input", placeholder: 'Enter drop off location'	
						%button.btn.btn-primary.btn-xl#search{:type => "submit"} Search
			.col-lg-6.mapDiv
				/ displays map and route
				=render 'map'
	.row
		%h3.text-center Check Out Our Most Recent Lift Offers
		%hr	
	.container
		.row
				
			-@offers.each do |offer|
				.col-md-4
					=link_to offer_path(offer) do
						.panel.text-center
							%h5.text-dark=offer.pickup
							%span.glyphicon.glyphicon-arrow-down.text-dark
							%h5.text-dark=offer.dropoff
							.row
								.col-md-12
									%strong
										£
										=offer.price
									per passenger		
					

%section#offer.p-0
	.row
		.col-lg-12.text-center
			%h2.section-heading Offering a Lift
			%hr.my-4/
	%row
		.col-lg-12.text-center
			%p.text-muted.mb-0 Offering a lift is quick and easy to do. You can set the route of the journey, the price and any car rules such as smoking, eating etc..... Before you can offer a lift you must have an account.
	.container
		.row
			.col-lg-4.col-md-8.text-center
				.service-box.mt-5.mx-auto
					%i.fa.fa-4x.fa-user.text-primary.mb-3.sr-icons
					%h3.mb-3 Meet interesting people
			.col-lg-4.col-md-8.text-center
				.service-box.mt-5.mx-auto
					%i.fa.fa-4x.fa-globe.text-primary.mb-3.sr-icons
					%h3.mb-3 Reduce your carbon footprint
			.col-lg-4.col-md-8.text-center
				.service-box.mt-5.mx-auto
					%i.fa.fa-4x.fa-gbp.text-primary.mb-3.sr-icons
					%h3.mb-3 Save money			
	%row
		.col-lg-12.text-center
			-if user_signed_in?
				%a.btn.btn-primary.btn-xl{:href => "/offers/new"}	Get Started
			-else				
				%a.btn.btn-primary.btn-xl#getStarted{:href => "/users/sign_up"}	Get Started


%section.bg-dark.text-white
	.container.text-center
		%h2.mb-4.white Ride Share