%h1 search results

//show search results
.searchResults
	-@offerResults.each do |offerResult|
		.panel.panel-primary.info
			.row
				.col-sm-4
					%h4 Pick Up:
				.col-sm-4
					%h4= link_to offerResult.pickup, offerResult
			.row
				.col-sm-4
					%h4 Drop Off:
				.col-sm-4
					%h4= link_to offerResult.dropoff, offerResult	
			.row
				.col-sm-4
					%h4 Date:
				.col-sm-4
					%h4= offerResult.date.strftime("%d-%m-%Y at %H:%M")
				.col-sm-4
					%h5
						Posted By: 
						=link_to offerResult.user.firstName, user_path(offerResult.user.id)
						=link_to offerResult.user.lastName, user_path(offerResult.user.id)