.container.contents
	= search_form_for @search, url: search_path do |f|
		.row.search
			.form-row
				.col-md-6
					.form-inline
						.form-group
							=f.label :pickup
							=f.text_field :pickup_cont, class: "form-control form-control-lg", id: "origin-input", placeholder: 'Belfast'
							=f.label :dropoff
							=f.text_field :dropoff_cont, class: "form-control form-control-lg", id: "destination-input", placeholder: 'Jordanstown'
				%button.btn.btn-primary#search{:type => "submit"} Search
	.row
		.col-md-6
			-if user_signed_in?
				.col-md-6
					-if current_user.home_address
						Limit to home address(
						%span.address#pickup
							=current_user.home_address
						)
						%input#pickup{:type => "checkbox"}
				.col-md-6
					-if current_user.work_address
						Limit to work address(
						%span.address#dropoff
							=current_user.work_address
						)
						%input#dropoff{:type => "checkbox"}

			

	//show search results
	.searchResults
		.row
			.col-md-6#liftInfo
				-if @offerResults.count == 0
					%h3 No Lifts found
				-else 	
					-@offerResults.each do |offerResult|
						.row
							.col-md-12
								.panel.panel-primary.info#searchItem
									.row
										.col-sm-3.resultsAvatar
											=image_tag offerResult.user.avatar.url.to_s
										.col-sm-4#pickup
											=link_to offerResult.pickup, offer_path(offerResult)	
										.col-sm-4#dropoff
											=link_to offerResult.dropoff, offer_path(offerResult)		
									.row
										.col-sm-3.text-center				
											=link_to offerResult.user.firstName, user_path(offerResult.user.id)
										.col-sm-4
											=offerResult.date.strftime("%B %d at %H:%m")
							=paginate @offerResults					
			.col-md-6	
				=render 'map'