.container.contents
	.row.search
		= search_form_for @search, url: search_path do |f|
			.form-row
				.col-md-6
					.input-group
						=f.text_field :pickup_cont, class: "form-control form-control-lg", id: "origin-input", placeholder: 'Enter pickup location'
						
						=f.text_field :dropoff_cont, class: "form-control form-control-lg", id: "destination-input", placeholder: 'Enter drop off location'	
			%button.btn.btn-primary#search{:type => "submit"} Search
	.row
		.col-md-6
			.col-md-6
				-if current_user.home_address
					Limit to home address(
					%span.address#pickup
						=current_user.home_address
					)
					%input#pickup{:type => "checkbox"}
			.col-md-6
				-if current_user.work_address
					Limit to work address(
					%span.address#dropoff
						=current_user.work_address
					)
					%input#dropoff{:name => "gender", :type => "checkbox", :value => "male"}

			

	//show search results
	.searchResults
		.row
			.col-md-6#liftInfo
				-@offerResults.each do |offerResult|
					.row
						.col-md-12
							.panel.panel-primary.info#searchItem
								.row
									.col-sm-3.resultsAvatar
										=image_tag offerResult.user.avatar.url.to_s
									.col-sm-4#pickup
										=link_to offerResult.pickup, offer_path(offerResult)	
									.col-sm-4#dropoff
										=link_to offerResult.dropoff, offer_path(offerResult)		
								.row
									.col-sm-3.text-center				
										=link_to offerResult.user.firstName, user_path(offerResult.user.id)
									.col-sm-4
										=offerResult.date.strftime("%B %d at %H:%m")
			.col-md-6	
				=render 'map'