// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homeHeader{
	margin-top: 150px;
}

.headerBtns a{
	font-size: 1.2em;
}

.white{
	color: white;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#map {
  height: 500px;
}

#showMap {
  height: 300px;
}

.customLabel{
  margin-bottom: 15px;
}

#hide{
  display: none;
} 

.panel-default.new{
  border-color: white !important;
  padding: 10px;
  border-radius: 0px;
  -webkit-box-shadow: initial;
  box-shadow: initial;

}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#tip{
  display: none;
}

.step2{
  display: none;
}

.glyphicon-user, .glyphicon-hourglass, .glyphicon-road{
  font-size: 20px;
}

.panel-Heading{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.panel.panel-primary{
  color: #fff;
}

#rideInfo{
  margin-top: 20px;
  margin-bottom: 20px;
}



.panel.panel-primary.info{
  color: #333333;
  padding: 10px;
   
}

#searchItem{
  cursor: pointer;
}

.panel-footer{
  background-color: #f1f1f1;
}
.panel.panel-primary.blue{
  background-color: #2c90d8;
}

.panel-footer.blue{
  color: #2c90d8;
}

h4.info{
  display:inline;
}

.panel.panel-primary.green{
  background-color: #1baf49;
}

.panel-footer.green{
  color: #1baf49;
}

.panel.panel-primary.red{
  background-color: #d9534f;
}

.panel-footer.red{
  color: #d9534f;
}

.bg-dark.text-white{
  margin-top: 70px;
}

#getStarted{
  margin-top: 50px;
}

section#search{
  background-color: #f1efef;
}

.btn.search{
  border-radius: initial;
  background-color: #dfe1e2;
  margin-right: 10px;
  border-radius: 5px;
}

.btn.search:hover{
  background-color: #bbbaba;
}

.resultsAvatar img{
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.col-md-6#liftInfo{
  overflow-y: scroll;
  height: 500px;
}

.form-control.form-control-lg#origin-input, .form-control.form-control-lg#destination-input{
  margin-left: initial;
  margin-bottom: 10px;
}

#dropoffShow, #pickupShow{
  display: initial;
}

.avatarShow img{
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.descriptionShow#rideInfo{
  background-color: #f1f1f1;
}

.inline{
  display: inline;
}

.margintop20{
  margin-top: 20px;
}

#returnTripTime{
  display: none;
}

#bookReturn{
  margin-top: 10px;
}

.text-dark{
  color: #343a40!important;
}