.col-sm-6#joinText{
	text-align: right;
}

.row#signup{
	margin-left: 30px;
	margin-left: 30px;
}

#signupImage{
	width: 90%;
}

#carpool{
	width: 50%;
}

.signupForm{
	/*background-color: #f1f1f1	*/
}

.form-actions{
	margin-top: 10px;
}

.col-sm-4.pull-left{
	margin-left: -10px;
}

#gender{
	text-align: center;
}

.container#login{
	width: 25%;
	background-color: #f1f1f1;
	
}

.btn.btn-primary.btn-block{
	margin-bottom: 10px;
}
