// make sure only admin users can access this admins/
-if admin_signed_in?
	.container.contents
		%h2 Admin Dashboard
		.col-md-4
			.box.panel.panel-default 
				%h1 All time
				%ul
					%li
						Total users:
						=@totalUsers = User.count
					
					%li
						Total Offers:
						=@totalOffers

					%li
						Total Lifts:
						=@totalLifts

		.col-md-4	
			.box.panel.panel-default 
				%h1 Last 28 days
				%ul
					%li
						New users:
						=@last_28_days = User.last_x_days(28).count
					
					%li
						New Offers: 
						=@last_28_days = Offer.last_x_days(28).count

					%li
						New Lifts:
						=@monthLifts
						
						
		.col-md-4	
			.box.panel.panel-default 
				%h1 Last 24 hours
				%ul
					%li
						New users:
						=@last_1_days = User.last_x_days(1).count
					%li
						New Offers: 
						=@last_1_days = Offer.last_x_days(1).count
					%li
						New Lifts:
						=@dayLifts
-else
	%h1 You shall not pass...		